@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,800&family=Work+Sans:wght@400;500;600;700;800&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav-title {
    font-size: 45px;
    font-weight: 700;
    color: #131313;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 30px;
    color: var(--dark-02, #424242);

    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    /* 144.444% */
}

nav li a {
    text-decoration: none;
    color: #424242;
}

/* banner container style */

.banner-container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;

}

.banner-title {
    font-size: 4rem;
    font-weight: 700;
    color: #131313;

}

.banner-des {
    color: var(--dark-03, #727272);
    text-align: center;

    font-size: 16px;

    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
}

.btn-primary {
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    padding: 20px 25px;
    font-size: 1.25rem;
    cursor: pointer;
    border: 0;


}

.banner img {
    margin-top: 20px;
    width: 100%;
}


/* responsive media style */

@media screen and (max-width: 576px) {
    header {
        padding: 20px;
    }

    nav {
        flex-direction: column;
    }

}

/* tablet or medium device */

@media screen and (min-width: 576px) and (max-width: 992px) {
    header {
        padding: 50px;
    }

    nav {
        flex-direction: column;
    }


}


/* main styles */

nav {
    max-width: 1440px;
    padding: 0 auto;

}

/* teams styles */

.teams-container {
    display: flex;
    align-items: center;
}

.teams-img-container {
    padding-top: 50px;
    padding-left: 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5 rem;
}

.team-content{
    padding-left: 70px;
    padding-right: 70px;
}

.team-title{
    font-size: 2.8rem;
}

.team-title .quick-list{
    color: #727272;
    font-weight: 500;
}
.team-title .text-feature{
    color: #FF900E;
font-family: Work Sans;
font-weight: 700;

}